{% extends "base.html" %}
{% block content %}
<div class="send-payment">
    <h2>Send Payment</h2>
    <img src="/static/images/btc2.jpg" alt="image">
    <form method="POST" action="/send_payment">
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" required>
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" step="0.00000001" required>
        <button type="submit">Send Payment</button>
    </form>
    
</div>
{% endblock %}