{% extends "base.html" %}
{% block content %}
<div class="send-payment">
    <h2>Send Payment</h2>
    <!-- <form action="{{ url_for('send_post') }}" method="post">
        <label for="address">Enter BTC address invoice:</label>
        <input type="text" name="address" required></type>
        <label for="amount">Enter amount (BTC):</label>
        <input type="number" name="amount" step="0.000001" required>
        <button type="submit">Send Payment</button>
    </form> -->
</div>
{% endblock %}